*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: #000;
}

.sidebar{
  width: 310px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 8px 10px;
}

.sidebar-nav{
  background-color: #121212;
  border-radius: 10px;
  height: 155px;
  padding: 10px 20px;
  margin-bottom: 8px;
}

.sidebar-nav .logo{
  width: 120px;
}

.sidebar-nav .logo img{
  width: 100px;
}

.sidebar-nav ul{
  list-style: none;
}

.sidebar-nav li{
  padding: 10px 20px;
}

.sidebar-nav li a{
  text-decoration: none;
  color: #b3b3b3;
}

.sidebar-nav li a span{
  padding: 15px;
  margin-left: -20px;
}

.sidebar-nav li a span{
  font-weight: bolder;
  font-size: 17px;
}

.sidebar-nav li a i{
  font-size: 22px;
}

.sidebar-nav li a i:hover{
  font-size: 22px;
  color: white;
}

.create-playlist{
  background-color: #242424;
  color: white;
  margin-bottom: 20px;
  margin-left: 5px;
  border-radius: 10px;
  width: 275px;
  padding: 20px 30px;
}

.create-podcast{
  background-color: #242424;
  color: white;
  margin-bottom: 20px;
  margin-left: 5px;
  border-radius: 10px;
  width: 275px;
  padding: 20px 30px;
}

.library::after{
  content: '+';
  float: right;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
}

.sidebar-scroll p{
  font-size: 13px;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 20px;
}

.sidebar-scroll button{
  width: 140px;
  height: 30px;
  border-radius: 40px;
  border: none;
  font-weight: bold;
}

.sidebar-scroll{
  height: 120px;
  width: 295px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: -37px;
}

.sidebar-scroll::-webkit-scrollbar{
  width: 10px;
  background: transparent;
}

.sidebar-scroll::-webkit-scrollbar-thumb{
  background: transparent;
  width: 5px;
}

.sidebar-scroll:hover::-webkit-scrollbar-thumb{
  background-color: #5c5b5b;
  width: 5px;
}

.box2{
  height: 400px;
}

.sidebar-nav .text:hover{
  color: white;
}

.options ul li a{
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 200;
  font-size: 10px;
  margin-left: 10px;
}

.options ul li a:hover{
  color: #b3b3b3;
  text-decoration: underline;
  font-weight: 200;
  font-size: 10px;
  margin-left: 10px;
}

.options ul{
  list-style: none;
}

.options ul li{
  list-style: none;
}

.options{
  margin-top: -200px;
}

.list{
  padding: 5px 5px;
  margin-left: 10px;
}

.eng-btn{
  padding: 20px 30px;
}

.eng-btn button{
  padding: 10px 30px;
  background: transparent;
  border: 0.4px solid #818080;
  color: white;
  border-radius: 30px;
  font-weight: bold;
}

.eng-btn button:hover{
  padding: 10px 30px;
  background: transparent;
  border: 1.3px solid white;
  color: white;
  border-radius: 30px;
  font-weight: bold;
  padding: 11px 31px;
}

.globe-img i{
  color: white;
  position: relative;
  left: 15px;
  top: 26px;
  font-size: 14px;
}

.eng-btn button{
  margin-right: 10px;;
}

.eng-btn p{
  margin-left: 8px;
}

.main-section{
  margin-top: 8px;
  margin-left: 310px;
  background-color: #1e1e1e;
  border-radius: 5px;
  height: 560px;
  overflow-y: scroll;
}

.main-section .top-nav{
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow-btn button{
  background-color: #0b0a0a;
  width: 30px;
  height: 29px;
  font-size: 13px;
  color: gray;
  font-weight: 80;
  border: none;
  border-radius: 100px;
  margin-right: 7px;
}

.auth .sign-up{
  margin-right: 30px;
  border: none;
  background: transparent;
  color: rgb(159, 153, 153);
  font-weight: bolder;
  font-size: 16px;
}

.auth .sign-up:hover{
  margin-right: 30px;
  border: none;
  background: transparent;
  color: #ffffff;
  font-weight: bolder;
  font-size: 16px;
}

.auth .log-in{
  width: 100px;
  height: 50px;
  border-radius: 50px;
  outline: none;
  font-weight: bolder;
  font-size: 15px;
  margin-top: -15px;
}

.auth .log-in:hover{
  width: 100px;
  height: 50px;
  border-radius: 50px;
  outline: none;
  font-weight: bolder;
  font-size: 17px;
  margin-top: -15px;
}

.spotify-playlist{
  padding: 20px 40px;
  background-color: #121212;
}

.spotify-playlist h2{
  color: white;
  font-size: 22px;
  margin-bottom: 20px;
}

.spotify-playlist h2:hover{
  color: white;
  font-size: 22px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.spotify-playlist .card{
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.spotify-playlist .card .item{
  width: 160px;
  height: 700px;
}

.spotify-playlist .card .item img{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.spotify-playlist .item h4{
  color: white;
}

.spotify-playlist .item p{
  color: #8f8e8e;
  font-size: 13px;
  margin-top: 5px;
}

.spotify-playlist .item p:hover{
  color: #8f8e8e;
  font-size: 13px;
  margin-top: 5px;
  text-decoration: underline;
}

.spotify-playlist .play-btn{
  position: relative;
}

.spotify-playlist .play-btn i{
  position: absolute;
  background-color: #1db954;
  border-radius: 100%;
  padding: 15px;
  right: 10px;
  top: -60px;
  opacity: 0;
  transform: 0.7s ease all;
}

.spotify-playlist .play-btn i:hover{
  opacity: 1;
  transform: translateY(-8px);
}

.artists{
  padding: 20px 40px;
  background-color: #121212;
  margin-top: -500px;
  object-fit: cover;
}

.artists .card .item img{
  border-radius: 100px;
}

.featured{
  padding: 20px 40px;
  background-color: #121212;
  margin-top: -500px;
  object-fit: cover;
}

.foot{
  position: relative;
  height: 60px;
  width: 1260px;
  margin-top: 10px;
  margin-left: 10px;
  background: linear-gradient(#687edd, #7e62c6, #9f3ca7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.foot{
  display: flex;
  justify-content: space-between;
}

.foot h5{
  font-size: 15px;
  font-weight: 600px;
  color: white;
  padding: 0px 15px;
}

.foot p{
  font-size: 13px;
  font-weight: 500px;
  color: white;
  padding: 5px 15px;
}

.foot button{
  padding: 10px  30px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 50px;
  border-color: white;
  margin-right: 30px;
}

.foot button:hover{
  padding: 13px  33px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 50px;
  border-color: white;
  margin-right: 30px;
}

::-webkit-scrollbar{
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: transparent;
}

::-webkit-scrollbar:hover{
  width: 10px; 
  background-color: rgba(0, 0, 0, 0.2);
}

.footer-links{
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: -400px;
  padding: 0px 50px;
}

.footer-links .footer-column ul li a{
  color: #7a7575; 
  text-decoration: none;
  font-weight: 500;
}

.list{
  margin-left: -5px;
}

.footer-links .footer-column .list{
  margin-bottom: 10px;
}

.footer-links ul li{
  margin-bottom: 10px;
}

.footer-links ul li:hover{
  text-decoration: underline;
  color: white;
}

.footer-links .footer-column ul{
  list-style: none;
}

.footer-links .social-links i{
  margin-right: 7px;
  border: 1px solid #292929;
  padding: 15px;
  border-radius: 50px;
  background-color: #292929;
}

.footer-links .social-links i:hover{
  margin-right: 7px;
  border: 1px solid #fff8f8;
  padding: 15px;
  border-radius: 50px;
  background-color: #fffefe;
  color: black;
}

.border{
  height: 1px;
  width: 880px;
  margin-left: 40px;
  margin-top: 40px;
  background-color: #8d918e;
}

.footer-links .footer-column .heading{
  font-weight: bolder;
}

.copyright{
  font-weight: 700;
  font-size: 14px;
  color: #a5a0a0;
  margin-top: 40px;
  margin-left: 40px;
}
