*{
  padding: 0;
  margin: 0;
}

body{
  background-color: black;
  color: white;
}

.header{
  height: 900px;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("background.jpg");
  background-size: cover;
  background-position: center;
  padding: 10px 10px;
  position: relative;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.logo{
  width: 150px;
  margin-left: 20px;
}

nav button{
  border: 0;
  outline: 0;
  background-color: #db0001;
  color: white;
  padding: 7px 20px;
  border-radius: 4px;
  font-size: 12px;
  margin-left: 10px;
}

.btn2{
  margin-right: 10px;
}

.btn1{
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: 1px solid white;
  padding: 7px 10px;
}

.btn1 img{
  height: 7px;
  margin-left: 10px;
}

.header-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 100px;
}

.header-content h1{
  font-size: 90px;
  line-height: 90px;
  max-width: 650px;
}

.header-content h3{
  font-weight: 400;
  margin-bottom: 20px;
}

.header-content p{
  font-size: 15px;
}

.email-sign-up{
  background: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.email-sign-up input{
  height: 30px;
  border: 0;
  outline: 0;
  margin-left: 30px;
  background: transparent;
  color: white;
  font-weight: 700;
}

.email-sign-up button{
  background-color: #db0001;
  border: 0;
  color: white;
  outline: 0;
  font-size: 16px;
  padding: 7px 30px;
  border-radius: 4px;
  white-space: nowrap;
  font-weight: 700;
}

.email-sign-up{
  background: transparent;
  border: 0.5px solid white;
  width: 350px;
  display: flex;
  margin-left: 50px;
}

.submit{
  margin-left: 160px;
}

.separation{
  height: 4px;
  width: 100%;
  background-color: gray;
  
}

.features{
  height: 400px;
/*  border-top: 4px solid gray;
  border-bottom: 4px solid gray; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.secImg{
  position: relative;
}

.secImg img{
  width: 500px;
  position: relative;
  z-index: 10;
}

.secImg video{
  position: absolute;
  top: 50px;
  right: 0;
}

.first h2{
  font-size: 40px;
  line-height: 70px;
  font-weight: bolder;
}

.first{
  display: flex;
  flex-direction: column;
}

.first p{
  font-size: 20px;
}

.second h2{
  line-height: 50px;
}

.fourth h2{
  line-height: 50px;
  margin-bottom: 10px;
}



.faq{
  padding: 50px 50px;
  text-align: center;
  font-size: 18px;
}

.faq h2{
  font-weight: 500;
  font-size: 40px;
}

.accordian{
  margin: 60px 60px;
}

.accordian li{
  list-style: none;
  padding: 10px;
}

.accordian li label{
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  background: #303030;
  margin-bottom: 2px;
  position: relative;
}

label::after{
  content: '+';
  font-size: 33px;
  position: absolute;
  right: 20px;
  transition: transform 0.5s;
}

input[type="radio"]{
  display: none;
}

.accordian .content{
  background: #303030;
  text-align: left;
  padding: 0px 30px;
  font-size: 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding, 0.5s;
}

.accordian input[type="radio"]:checked + label + .content{
  max-height: 600px;
  padding: 30px 30px;
}

.accordian input[type="radio"]:checked + label::after{
  transform: rotate(135deg);
}

.email-sign-up-again{
  background: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.email-sign-up-again input{
  height: 30px;
  border: 0;
  outline: 0;
  margin-left: 20px;
  background: transparent;
  color: white;
  font-weight: 700;
}

.email-sign-up-again button{
  background-color: #db0001;
  border: 0;
  color: white;
  outline: 0;
  font-size: 16px;
  padding: 7px 30px;
  border-radius: 4px;
  white-space: nowrap;
  font-weight: 700;
}

.email-sign-up-again{
  background: transparent;
  border: 0.5px solid white;
  width: 350px;
  display: flex;
  margin-left: 320px;
}

.submit2{
  margin-left: 170px;
}

.footer{
  padding: 30px 40px 20px;
  color: #777;
  border-top: 4px solid gray;
}

.footer h4{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.row{
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  
}

.footer .col{
  height: 70px;
  width: 120px;
  margin-bottom: 20px;
  margin-top: -50px;
  font-size: 15px;
}

.footer .col a{
  color: gray;
  white-space: nowrap;
  margin-bottom: 20px;
  display: block;
}

